
DB_HOST=localhost
DB_PORT=5432
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=golang_warehouse

AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=your_airflow_db_password
AIRFLOW_DB_NAME=airflow

AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=your_admin_password
AIRFLOW_ADMIN_EMAIL=you@example.com

AIRFLOW_UID=1000
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__WEBSERVER__EXPOSE_CONFIG=true

LOCATIONS=Nairobi,Lagos,London,New York,Tokyo
FETCH_DAYS_BACK=7